@media screen and (max-width: 650px) {
  .top-search {
    display: none;
  }
}

/* section */

.section {
  position: fixed;
  height: 100vh;
  top: 56px;
  width: 72px;
  left: 0;
}

.section .side > ul > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 66px;
}
.section .side > ul > li > svg {
  width: 25px;
  height: 25px;
  fill: white;
  margin-bottom: 6px;
}

.section .side ul li {
  padding: 13px 5px;
}

.section .side ul li span {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  font-size: 10px;
}

.home.aside-bar .aside-bar__column:first-child > li:first-child {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 6px;
}

.section.maxhidden {
  display: none;
}
