.aside-bar {
  width: 180px;
  background-color: var(--black-color);
  color: white;
  font-weight: bold;
  font-size: var(--font-large);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  /* transition: transform 0.2s linear; */
}
.aside-bar__box {
  padding: 0 16px;
}

.hiddenaside {
  transform: translateX(-100%);
}

.aside-bar .aside-topbar__logobox {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 12px 16px 12px 26px;
  height: 32px;
  position: relative;
}
.aside-bar .aside-topbar__logobox .top-bar__title {
  margin-left: 5px;
}

.aside-bar .aside-topbar__logobox .fa-bars {
  margin-right: var(--side-padding);
  cursor: pointer;
}
.aside-bar .fa-youtube {
  color: var(--red-color);
}
.aside-bar .top-bar__country {
  font-size: var(--font-micro);
  position: absolute;
  font-weight: normal;
  color: var(--grey-color);
  right: 42px;
  top: 5px;
}

.aside-icons {
  width: 25px;
  height: 25px;
}

.aside-bar__column {
  padding: 10px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.aside-bar__column:nth-child(2) {
  margin-top: 10px;
}
.aside-bar__column > li {
  padding: 3px 5px;
  display: flex;
  align-items: center;
}

.aside-bar .aside-bar__column a {
  color: white;
  font-size: 14px;
  font-weight: 400;
  margin-left: 10px;
}

.aside-bar__column:nth-child(2) li a {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.aside-bar__column li:hover {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 6px;
}

.sideadd.hidden1 {
  display: none;
}

.aside-bar .aside-bar__column:nth-child(3) > span {
  display: flex;
  padding: 5px 0;
  font-size: var(--font-large);
  font-weight: 400;
}

.aside-bar .aside-bar__column:nth-child(3) img {
  border-radius: 50%;
}

.aside-bar .aside-bar__column:nth-child(3) > div > li {
  padding: 5px 5px;
  display: flex;
  align-items: center;
  display: flex;
}

.viewMoreHidden-box.hidden1 {
  display: none;
}
