@import "root.css";
@import "sidebar.css";
@import "home.css";

/* 탑 바  */
.top-bar {
  width: 100%;
  height: 56px;
  background-color: var(--black-color);
  padding: var(--side-padding) 16px;
  color: white;
  font-weight: bold;
  font-size: var(--font-large);
  position: fixed;
  top: 0;
  z-index: 10;
}

.top {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* 탑 바 좌측 로고 */
.top-bar__logobox {
  display: flex;
  flex: none;
  align-items: center;
  position: relative;
  justify-content: center;
  margin-left: 10px;
}
.top-bar__logobox .top-bar__title {
  margin-left: 5px;
}

.top-bar__logobox .fa-bars {
  margin-right: var(--side-padding);
  cursor: pointer;
}
.fa-youtube {
  color: var(--red-color);
}
.top-bar__country {
  font-size: var(--font-micro);
  position: absolute;
  font-weight: normal;
  color: var(--grey-color);
  right: -12px;
  top: 0;
}

.top-bar .fa-ellipsis-vertical {
  margin-left: 10px;
}

/* 탑 바 중앙 서치 */
.top .top-search {
  position: relative;
  flex: 0 1 728px;
}

.top-search .top-search__button {
  position: relative;
  width: 100%;
  margin-left: 32px;
}

.top-search__button input {
  width: 100%;
  margin-left: 33px;
  color: white;
}

.top-search__button:focus-within input {
  width: 100%;
  padding-left: 48px;
  margin-left: 0;
  border-color: #195197;
  outline: none;
}
.top-search__button-icon {
  display: none;
}
.top-search__button:focus-within .top-search__button-icon {
  display: block;
  position: absolute;
  top: 10px;
  left: 15px;
}

.top-search__button input {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 5px 15px;
  font-size: var(--font-medium);
}

.top-search__button button {
  position: absolute;
  top: 0;
  right: -64px;
  width: 64px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: #222222;
  color: white;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

/* 탑 바 우측 아이콘 */
.top-bar .top-icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-width: 225px;
  flex: none;
}

.top-icons .top-icon_make,
.top-icons .top-icon_ring {
  margin-right: 20px;
}
.top-icons .top-icon_me {
  margin-right: 5px;
  display: flex;
  align-items: center;
}

.video_box {
  margin-top: 56px;
  height: 100%;
  background-color: var(--black-color);
  text-align: center;
  position: sticky;
}

.video_box iframe {
  vertical-align: top;
  max-width: 100%;
}

.info-box {
  padding: var(--side-padding);
}

.info-box > .info-tag {
  display: flex;
  font-size: var(--font-small);
  color: var(--blue-color);
  font-weight: bold;
}

.info-box > .info-tag > li {
  margin-right: 8px;
  margin-bottom: 8px;
}

.info-box > .info-title__box > .info-title {
  font-size: var(--font-medium);
  font-weight: bold;
}

.info-box > .info-title__box > .info-title.hidden {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.info-box > .info-title__box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}
.info-title__box .fa-caret-down {
  font-size: var(--font-small);
  transition: transform 0.3s ease-in-out;
}

.info-title__box .fa-caret-down.clicked {
  transform: rotate(180deg);
}

.info-box > .info-view {
  font-size: var(--font-micro);
  color: var(--grey-color);
  font-weight: bold;
}

.info-title__box > button,
.info-title__box > button:focus {
  border: none;
  cursor: pointer;
  outline: none;
}

.info-title__box > button {
  height: 100%;
  padding: 0 var(--side-padding);
  background-color: black;
  color: white;
}

.icons {
  margin: var(--side-padding) 0;
  display: flex;
  justify-content: space-around;
}
.icons > li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icons > li:hover > i {
  color: var(--blue-color);
}
.icons > li > i {
  font-size: var(--font-large);
  margin-bottom: 6px;
  color: var(--grey-color);
}

.icons > li > span {
  color: var(--grey-color);
  font-size: var(--font-small);
  font-weight: bold;
}

.subscribe-box {
  border-top: 1px solid var(--grey-color);
  border-bottom: 1px solid var(--grey-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
}
.subscribe-box .subscribe {
  display: flex;
}
.subscribe-box .subscribe .subscribe-info {
  display: flex;
  flex-direction: column;
}

.subscribe-box img {
  margin-right: 10px;
  height: var(--avatar-size);
  width: var(--avatar-size);
  border-radius: 50%;
}

.subscribe-info__name {
  font-size: var(--font-medium);
  font-weight: bold;
}

.subscribe-info__views {
  font-size: var(--font-micro);
  color: var(--grey-color);
}

.subscribe-box > span {
  text-transform: uppercase;
  font-weight: 600;
  font-size: var(--font-medium);
  color: var(--red-color);
}

.upNext__column {
  display: flex;
  margin: var(--side-padding);
}

.upNext-box .upNext__smalltitle {
  font-size: var(--font-medium);
  color: var(--grey-color);
  font-weight: 600;
  margin: 0 var(--side-padding);
}

.upNext-box .upNext-imgBox {
  flex: 1 1 35%;
}

.upNext-box .upNext__column img {
  width: 100%;
}

.upNext-box .upNext__info {
  flex: 1 1 60%;
}

.upNext-box .upNext__info {
  display: flex;
  flex-direction: column;
  margin: 0 var(--side-padding);
}

.upNext-box .fa-ellipsis-vertical {
  flex: 1 1 5%;
}

.upNext-box .upNext__column .upNext__info .upNext__title {
  font-size: var(--font-small);
  font-weight: 600;
}

.upNext-box .upNext__column .upNext__info .upNext__player,
.upNext-box .upNext__column .upNext__info .upNext__view {
  font-size: var(--font-micro);
  color: var(--grey-color);
  font-weight: 600;
}

.videoAndinfo {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 800px) {
  .main-box {
    display: flex;
  }
  .upNext-box {
    margin: 56px 0;
  }
}
